* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  position: relative;
  i {
    padding: 5px;
    position: absolute;
    font-size: 2rem;
    right: 0;
    top: 50%;
    color: #888888;
    transform: translate(0, -50%);
    cursor: pointer;
  }
}

.content {
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1;
  position: relative;
  overflow: hidden;
  color: #fff;
  background: rgb(243, 48, 48);
  h2 {
    z-index: 100;
  }
}
.change {
  background: rgb(155, 155, 155);
}
